@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: transparent">
    <h1>Aspire Minds.xam</h1>
    <p class="lead">chase your goals through aspire minds.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" style="background-color: transparent">
    <div class="col-md-4">
        <h2><i>How Aspire Minds systems work</i></h2>
        <p>
            The teacher or course builder creates an account with an exam builder. In such an exam system you can create questions and add them to the exam. You can choose between multiple choice questions or free text questions. The students are provided with a link to the online exam, they sign up and can take the exam. They see the results immediately afterwards.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><i>Solution for education</i></h2>
        <p><b>Online Exam.</b> <b>Aptitude Test.</b> <b>Programming Test.</b> <b>Mock Test.</b> <b>Verbel Test.</b> </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><i>Solution For Corporates</i></h2>
        <p><b>Hiring.</b> <b>Psychometric.</b> <b>Domain specific Assessments.</b> <b>Employee Traning.</b> <b>Online Quiz.</b></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><i>Onscreen Evaluation System</i></h2>
        <p><b>AnswerSheet Scanning.</b> <b>Automatic Score.</b> <b>Online Answer sheet Evaluation.</b> </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
